body {
  --bg: #FFFF;
  --bg-footer: #008244;
  --font-color: #000;
  --font-color-link: #008244;

  display: flex;
  height: 100vh;
  flex-flow: column;
  background-color: var(--bg);
  margin: 0 auto;
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--font-color);
}

.dark {
  --bg: #000;
  --bg-footer: #008244;
  --font-color: #FFF;
  --font-color-link: #34ff34;
}

main {
  display: flex;
  flex-flow: column;
  margin-top: 90px;
  padding: 32px 24px;
}

h1 {
  color: var(--font-color);
}

h2 {
  font-size: 2em;
}

a {
  text-decoration: unset;
  color: var(--font-color-link);
  font-style: normal;
}
a:visited {
  color: var(--font-color-link);
}

.main-header {
  display: flex;
  position: fixed;
  width: 100%;
  background: inherit;
  justify-content: center;
  box-shadow: 0 1px 4px grey;
  height: 90px;
}

.main-header a {
  color: inherit;
}

.main-header a:visited {
  color: inherit;
}

.main-header > div {
  display: flex;
  flex-grow: 1;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

address {
  display: flex;
  flex-flow: column;
  margin-top: 32px;
  align-items: center;
  gap: 8px;
}

.content {
  display: grid;
  max-width: 1440px;
  place-self: center;
  width: 100%;
}

.main-header .content {
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.header-icon {
  font-size: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-icon img {
  max-height: 40px;
}

nav {
  display: flex;
  gap: 16px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul a {
  margin: 0 16px;
}

.header-actions {
  display: flex;
  gap: 8px;
}

section {
  margin: 56px 0;
}

section article {
  display: grid;
  grid-template-columns: 50% 50%;
}

section article figure {
  width: 50%;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: var(--bg-footer);
  color: #fff;
  padding: 32px 24px;
}

footer section {
  display: flex;
  justify-content: space-between;
}

footer section:last-child {
  justify-content: center;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #69bff8;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #fffc32;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #190b64;
}

input:focus + .slider {
  box-shadow: 0 0 1px #190b64;
}

input:checked + .slider:before {
  background-color: #ddd;
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

#introduction {
  display: grid;
  grid-template-columns: 50% 50%;
}

#introduction > div {
  display: grid;
  text-align: center;
  margin: 0 auto;
}

#introduction h1 {
  font-size: 3em;
}

#introduction img {
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
  place-self: center;
}

#presentation {
  height: 140px;
}

