body {
  --bg: #FFFF;
  --bg-footer: #008244;
  --font-color: #000;
  --font-color-footer: #fff;
  --font-color-link: #008244;
  --font-color-link-light: #34ff34;

  display: flex;
  height: 100vh;
  flex-flow: column;
  background-color: var(--bg);
  margin: 0 auto;
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--font-color);
}

.dark {
  --bg: #000;
  --bg-footer: #008244;
  --font-color: #FFF;
  --font-color-link: #34ff34;
}

main {
  display: flex;
  flex-flow: column;
  padding: 32px 24px;
  margin-top: 154px;

  @media only screen and (min-width: 768px) {
    margin-top: 90px;
  }
}

h1, h2, h3 {
  color: var(--font-color);
  text-align: center;

  @media only screen and (min-width: 768px) {
    text-align: start;
  }
}

h2 {
  font-size: 2em;
}

a {
  text-decoration: unset;
  color: var(--font-color-link);
  font-style: normal;
}
a:visited {
  color: var(--font-color-link);
}

.main-header {
  display: flex;
  flex-flow: column;
  position: fixed;
  width: 100%;
  background: inherit;
  align-items: center;
  box-shadow: 0 1px 4px grey;
  height: 154px;
  z-index: 10;

  @media only screen and (min-width: 768px) {
    height: 90px;
  }
}

.main-header-desktop {
  display: flex;
  flex-grow: 1;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.main-header-desktop > * {
  padding: 0 16px;
}

.main-header-mobile {
  display: flex;
  justify-content: center;
  height: 64px;
  width: 100%;
  border-top: 1px solid gray;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.main-header-right {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.main-header-right nav {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

.main-header a {
  color: inherit;
}

.main-header a:visited {
  color: inherit;
}

address {
  display: flex;
  flex-flow: column;
  margin-top: 32px;
  align-items: center;
  gap: 8px;
}

.content {
  display: grid;
  max-width: 1440px;
  place-self: center;
  width: 100%;
}

.header-icon {
  font-size: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-icon img {
  max-height: 40px;
}

nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul a {
  margin: 0 16px;
}

.header-actions {
  display: flex;
  gap: 24px;
  align-items: center;
}

.lang-buttons {
  display: flex;
  gap: 8px;
  font-size: 2em;
}

.lang-buttons button {
  all: unset;
  cursor: pointer;
  padding-top: 6px;
}

section {
  margin-bottom: 56px;
}

section article {
  display: grid;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 50% 50%;
  }
}

section article figure {
  width: 50%;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: var(--bg-footer);
  color: var(--font-color-footer);
  padding: 32px 24px;
}

footer h2, footer h3 {
  display: flex;
  gap: 16px;
  align-items: center;
  text-align: initial;
  color: var(--font-color-footer);
}

footer h3 span {
  display: block;
  font-size: 1.8em;
  font-weight: 700;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

footer .desktop {
  display: none;
  @media only screen and (min-width: 768px) {
    display: block;
  }
}

footer section {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @media only screen and (min-width: 768px) {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }
}

footer section:last-child {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 16px 0 0;
  padding: 16px 0;
  border-top: 1px solid var(--font-color-footer);
}

footer a {
  color: var(--font-color-link-light);
}

footer a:visited {
  color: var(--font-color-link-light);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #69bff8;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fffc32;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #190b64;
}

input:focus + .slider {
  box-shadow: 0 0 1px #190b64;
}

input:checked + .slider:before {
  background-color: #ddd;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#introduction {
  display: grid;
  gap: 64px;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 50% 50%;
    gap: unset;
  }
}

#introduction > div {
  display: grid;
  text-align: center;
  margin: 0 auto;
}

#introduction h1 {
  font-size: 3em;
  text-align: center;
}

#introduction img {
  width: 100%;
  border-radius: 50%;
  place-self: center;

  @media only screen and (min-width: 768px) {
    max-width: 400px;
  }
}

#presentation {
  height: 220px;

  @media only screen and (min-width: 768px) {
    height: 140px;
  }
}

